{% extends "skeleton/_base.html" %}
{% block content %}
<div class="span-24">
  <h2 class="hdr">Cassandra Server</h2>

  Cassandra releases include the core server, the <a href="http://wiki.apache.org/cassandra/NodeTool">nodetool</a> administration command-line interface, and a development shell (<a href="http://cassandra.apache.org/doc/cql/CQL.html"><tt>cqlsh</tt></a> and the old <tt>cassandra-cli</tt>).

  <p>
  The latest stable release of Apache Cassandra is {{ cassandra_stable }}
  (released on {{ cassandra_stable_release_date }}).  <i>If you're just
  starting out, download this one.</i>
  </p>

  Apache provides binary tarballs and Debian packages:

  <ul>
    <li>
    <a class="filename" 
       href="{{ binary_download }}"
       onclick="javascript: pageTracker._trackPageview('/clicks/binary_download');">
      {{ binary_filename }}
    </a>
    [<a href="{{ binary_artifacts_url }}.asc">PGP</a>]
    [<a href="{{ binary_artifacts_url }}.md5">MD5</a>]
    [<a href="{{ binary_artifacts_url }}.sha1">SHA1</a>]
    </li>
    <li>
    <a href="http://wiki.apache.org/cassandra/DebianPackaging">Debian installation instructions</a>
    </li>
  </ul>

  <h2 class="hdr">Third Party Distributions</h2>

  <ul>
    <li><a href="http://www.datastax.com/products/community">DataStax Community</a> is available in Linux rpm, deb, and tar packages, a Windows MSI installer, and a Mac OS X binary.
  </ul>

  <h2 class="hdr">CQL</h3>

  <p>
  The current major version of the Cassandra Query Language is CQL version 3.
  The CQL3 documentation for the current version of Cassandra (2.0) is available
  <a href="http://cassandra.apache.org/doc/cql3/CQL.html">here</a>. The
  documentation for CQL3 in Cassandra 1.2 is
  <a href="http://cassandra.apache.org/doc/cql3/CQL-1.2.html">here</a>.
  </p>

  <p>
  New users to Cassandra should be sure to check out the
  <a href="http://wiki.apache.org/cassandra/GettingStarted">Getting Started</a> 
  guide.
  </p>

  {% if devel_exists %}

  <h2 class="hdr">Development Cassandra Server Releases (not production ready)</h2>
  <p>
  The latest development release is {{ cassandra_devel }} (released on
  {{ cassandra_devel_release_date }}).
  </p>

  <ul>
    <li>
    <a class="filename" href="{{ devbin_download }}">{{ devbin_filename }}</a>
    [<a href="{{ devel_binary_artifacts_url }}.asc">PGP</a>]
    [<a href="{{ devel_binary_artifacts_url }}.md5">MD5</a>]
    [<a href="{{ devel_binary_artifacts_url }}.sha1">SHA1</a>]
    </li>
  </ul>
  {% endif %}

  <h2 class="hdr">Previous and Archived Cassandra Server Releases</h2>

  {% if oldstable_exists %}
  <p>
  Previous stable branches of Cassandra continue to see periodic maintenance
  for some time after a new major release is made. The lastest release on the
  {{ oldstable_branch }} branch is {{ cassandra_oldstable }} (released on
  {{ cassandra_oldstable_release_date }}).
  </p>

  <ul>
    <li>
    <a class="filename" href="{{ oldbin_download }}">{{ oldbin_filename }}</a>
    [<a href="{{ oldstable_binary_artifacts_url }}.asc">PGP</a>]
    [<a href="{{ oldstable_binary_artifacts_url }}.md5">MD5</a>]
    [<a href="{{ oldstable_binary_artifacts_url }}.sha1">SHA1</a>]
    </li>
  </ul>
  {% endif %}

  {% if veryoldstable_exists %}
  <p>
  The lastest release on the {{ veryoldstable_branch }} branch is
  {{ cassandra_veryoldstable }} (released on {{ cassandra_veryoldstable_release_date }}).
  </p>

  <ul>
    <li>
    <a class="filename" href="{{ veryoldbin_download }}">{{ veryoldbin_filename }}</a>
    [<a href="{{ veryoldstable_binary_artifacts_url }}.asc">PGP</a>]
    [<a href="{{ veryoldstable_binary_artifacts_url }}.md5">MD5</a>]
    [<a href="{{ veryoldstable_binary_artifacts_url }}.sha1">SHA1</a>]
    </li>
  </ul>
  {% endif %}

  <p>
    Older (unsupported) versions of Cassandra are
    <a href="http://archive.apache.org/dist/cassandra/">archived here</a>.
  </p>

  <h2 class="hdr">Source</h2>
  <p>
  The Cassandra source code is available to download:

  <ul>
    <li>
    <a class="filename" 
       href="{{ source_download }}"
       onclick="javascript: pageTracker._trackPageview('/clicks/source_download');">
      {{ source_filename }}
    </a>
    [<a href="{{ source_artifacts_url }}.asc">PGP</a>]
    [<a href="{{ source_artifacts_url }}.md5">MD5</a>]
    [<a href="{{ source_artifacts_url }}.sha1">SHA1</a>]
    </li>
  {% if oldstable_exists %}
    <li>
    <a class="filename" href="{{ oldsrc_download }}">{{ oldsrc_filename }}</a>
    [<a href="{{ oldstable_source_artifacts_url }}.asc">PGP</a>]
    [<a href="{{ oldstable_source_artifacts_url }}.md5">MD5</a>]
    [<a href="{{ oldstable_source_artifacts_url }}.sha1">SHA1</a>]
    </li>
  {% endif %}
  {% if veryoldstable_exists %}
    <li>
    <a class="filename" href="{{ veryoldsrc_download }}">{{ veryoldsrc_filename }}</a>
    [<a href="{{ veryoldstable_source_artifacts_url }}.asc">PGP</a>]
    [<a href="{{ veryoldstable_source_artifacts_url }}.md5">MD5</a>]
    [<a href="{{ veryoldstable_source_artifacts_url }}.sha1">SHA1</a>]
    </li>
  {% endif %}
  {% if devel_exists %}
    <li>
    <a class="filename" href="{{ devsrc_download }}">{{ devsrc_filename }}</a>
    [<a href="{{ devel_source_artifacts_url }}.asc">PGP</a>]
    [<a href="{{ devel_source_artifacts_url }}.md5">MD5</a>]
    [<a href="{{ devel_source_artifacts_url }}.sha1">SHA1</a>]
    </li>
  {% endif %}
  </ul> 

  Development is done in the Apache Git repository. To check out a copy:
  </p>
  <blockquote class="hl">
      git clone http://git-wip-us.apache.org/repos/asf/cassandra.git
  </blockquote>

  <p>
  Bleeding edge development snapshots of Cassandra are available from Jenkins continuous integration:
  <a href="http://cassci.datastax.com/job/trunk/lastSuccessfulBuild/">trunk</a> and
  <a href="http://cassci.datastax.com/job/cassandra-2.0/lastSuccessfulBuild/">2.0</a>.
  </p>

  <p>
  Potential contributors should look over <a href="http://wiki.apache.org/cassandra">the wiki</a>,
  in particular <a href="http://wiki.apache.org/cassandra/HowToContribute">HowToContribute</a>.
  </p>
</div>
{% endblock %}
