{% extends "skeleton/_base.html" %}
{% block content %}
<div class="span-16">
{% if devel_exists or oldstable_exists %}
  <h2 class="hdr">Downloads</h2>
{% else %}
  <h2 class="hdr">Download</h2>
{% endif %}

  {% if oldstable_exists %}
  <p>
  The previous stable branch of Cassandra continues to see periodic maintenance
  for some time after a new release is made. The lastest oldstable release is
  {{ cassandra_oldstable }} (released on 
  {{ cassandra_oldstable_release_date }}).
  </p>

  <ul>
    <li>
    <a class="filename" href="{{ oldbin_download }}">{{ oldbin_filename }}</a>
    [<a href="{{ oldstable_binary_artifacts_url }}.asc">PGP</a>]
    [<a href="{{ oldstable_binary_artifacts_url }}.md5">MD5</a>]
    [<a href="{{ oldstable_binary_artifacts_url }}.sha1">SHA1</a>]
    </li>
    <li>
    <a class="filename" href="{{ oldsrc_download }}">{{ oldsrc_filename }}</a>
    [<a href="{{ oldstable_source_artifacts_url }}.asc">PGP</a>]
    [<a href="{{ oldstable_source_artifacts_url }}.md5">MD5</a>]
    [<a href="{{ oldstable_source_artifacts_url }}.sha1">SHA1</a>]
    </li>
  </ul>
  {% endif %}

  <p>
  The latest stable release of Apache Cassandra is {{ cassandra_stable }}
  (released on {{ cassandra_stable_release_date }}).  <i>If you're just
  starting out, download this one.</i>
  </p>

  <ul>
    <li>
    <a class="filename" 
       href="{{ binary_download }}"
       onclick="javascript: pageTracker._trackPageview('/clicks/binary_download');">
      {{ binary_filename }}
    </a>
    [<a href="{{ binary_artifacts_url }}.asc">PGP</a>]
    [<a href="{{ binary_artifacts_url }}.md5">MD5</a>]
    [<a href="{{ binary_artifacts_url }}.sha1">SHA1</a>]
    </li>
    <li>
    <a class="filename" 
       href="{{ source_download }}"
       onclick="javascript: pageTracker._trackPageview('/clicks/source_download');">
      {{ source_filename }}
    </a>
    [<a href="{{ source_artifacts_url }}.asc">PGP</a>]
    [<a href="{{ source_artifacts_url }}.md5">MD5</a>]
    [<a href="{{ source_artifacts_url }}.sha1">SHA1</a>]
    </li>
  </ul> 

  {% if devel_exists %}
  <p>
  The latest development release is {{ cassandra_devel }} (released on
  {{ cassandra_devel_release_date }}).
  </p>

  <ul>
    <li>
    <a class="filename" href="{{ devbin_download }}">{{ devbin_filename }}</a>
    [<a href="{{ devel_binary_artifacts_url }}.asc">PGP</a>]
    [<a href="{{ devel_binary_artifacts_url }}.md5">MD5</a>]
    [<a href="{{ devel_binary_artifacts_url }}.sha1">SHA1</a>]
    </li>
    <li>
    <a class="filename" href="{{ devsrc_download }}">{{ devsrc_filename }}</a>
    [<a href="{{ devel_source_artifacts_url }}.asc">PGP</a>]
    [<a href="{{ devel_source_artifacts_url }}.md5">MD5</a>]
    [<a href="{{ devel_source_artifacts_url }}.sha1">SHA1</a>]
    </li>
  </ul>
  {% endif %}

  <h3 class="hdr">CQL Drivers</h3>
  <p>
  New for 0.8 is CQL (Cassandra Query Language), an SQL-alike alternative to
  the traditional <a href="http://wiki.apache.org/cassandra/ClientOptions">
  RPC interface</a>.  Language drivers are available for:
  </p>
  <ul>
    <li>
      <a href="http://www.apache.org/dist/cassandra/drivers/java">
          Java (JDBC)</a>
    </li>
    <li>
      <a href="http://code.google.com/a/apache-extras.org/p/cassandra-dbapi2/downloads/list">
          Python (DBAPI2)</a>
    </li>
  </ul>

  <br />

  <p>
  When downloading from a mirror, please be sure to verify the checksums
  and OpenPGP compatible signature (see the MD5, SHA1, and PGP links
  above). The <a href="{{ keys_url }}">KEYS</a> file contains the public
  key(s) used for signing releases.
  </p>

<p>
New users to Cassandra should be sure to check out the "<a href="http://wiki.apache.org/cassandra/GettingStarted">Getting Started</a>" guide.
</p>

  <h2 class="hdr">Source Control</h2>
  <p>
  The Cassandra source code resides in the Apache SVN repository. To check out a copy:
  </p>
  <blockquote class="hl">
      svn checkout {{ subversion_url }}/trunk cassandra
  </blockquote>

  <p>
  There is also a read-only git repository if that is more your style.
  </p>
  <blockquote class="hl">
      git clone git://git.apache.org/cassandra.git 
  </blockquote>

  <p>
  Potential contributors should look over <a href="http://wiki.apache.org/cassandra">the wiki</a>,
  in particular <a href="http://wiki.apache.org/cassandra/HowToContribute">HowToContribute</a>. 
 
</div>

{% include "skeleton/_download.html" %}
 </p>


<div class="span-7 prepend-1 prepend-top last">
  <h3 class="hdr">Development Snapshots</h3>
  <p>
Bleeding edge development snapshots of Cassandra are available for direct download.
  </p>
  <p>
    <a href="https://builds.apache.org/job/Cassandra/lastSuccessfulBuild/artifact/cassandra/build/">Latest trunk build</a> (Jenkins)
  </p>
  <h3 class="hdr">Archived Releases</h3>
  <p>
    Older (unsupported) versions of Cassandra are
    <a href="http://archive.apache.org/dist/cassandra/">archived here</a>.
  </p>
</div>
{% endblock %}
