
	.legacy abbr[title]{border-bottom:1px dotted}
	.legacy b,strong{font-weight:bold}
	.legacy dfn{font-style:italic}
	.legacy hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
	.legacy mark{background:#ff0;color:#000}
	.legacy code,kbd,pre,samp{font-family:monospace;font-size:1em}
	.legacy pre{white-space:pre-wrap}
	.legacy q{quotes:"\201C" "\201D" "\2018" "\2019"}
	.legacy small{font-size:80%}
	.legacy sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
	.legacy sup{top:-.5em}
	.legacy sub{bottom:-.25em}
	.legacy img{border:0}
	.legacy svg:not(:root){overflow:hidden}
	.legacy figure{margin:0}
	.legacy fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
	.legacy legend{border:0;padding:0}
	.legacy button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
	.legacy button,input{line-height:normal}
	.legacy button,select{text-transform:none}
	.legacy button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
	.legacy button[disabled],html input[disabled]{cursor:default}
	.legacy input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
	.legacy button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
	.legacy textarea{overflow:auto;vertical-align:top}
	.legacy table{border-collapse:collapse;border-spacing:0}
	.legacy *,*::before,*::after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
	.legacy html,body{font-size:100%}
	.legacy a:hover{cursor:pointer}
	.legacy img,object,embed{max-width:100%;height:auto}
	.legacy object,embed{height:100%}
	.legacy img{-ms-interpolation-mode:bicubic}
	.legacy .left{float:left!important}
	.legacy .right{float:right!important}
	.legacy .text-left{text-align:left!important}
	.legacy .text-right{text-align:right!important}
	.legacy .text-center{text-align:center!important}
	.legacy .text-justify{text-align:justify!important}
	.legacy .hide{display:none}
	.legacy img,object,svg{display:inline-block;vertical-align:middle}
	.legacy textarea{height:auto;min-height:50px}
	.legacy select{width:100%}
	.legacy .center{margin-left:auto;margin-right:auto}
	.legacy .stretch{width:100%}
	.legacy .subheader,.admonitionblock td.content>.title,.audioblock>.title,.exampleblock>.title,.imageblock>.title,.listingblock>.title,.literalblock>.title,.stemblock>.title,.openblock>.title,.paragraph>.title,.quoteblock>.title,table.tableblock>.title,.verseblock>.title,.videoblock>.title,.dlist>.title,.olist>.title,.ulist>.title,.qlist>.title,.hdlist>.title{line-height:1.45;color:#7a2518;font-weight:400;margin-top:0;margin-bottom:.25em}
	.legacy div,dl,dt,dd,ul,ol,li,h1,h2,h3,#toctitle,.sidebarblock>.content>.title,h4,h5,h6,pre,form,p,blockquote,th,td{margin:0;padding:0;direction:ltr}
	.legacy a{color:#2156a5;text-decoration:underline;line-height:inherit}
	.legacy a:hover{color:#1d4b8f}
	.legacy a img{border:0}
	.legacy p aside{font-size:.875em;line-height:1.35;font-style:italic}
	.legacy hr{border:solid #dddddf;border-width:1px 0 0;clear:both;margin:1.25em 0 1.1875em;height:0}
	.legacy em,i{font-style:italic;line-height:inherit}
	.legacy strong,b{font-weight:bold;line-height:inherit}
	.legacy small{font-size:60%;line-height:inherit}
	.legacy code{font-family:"Droid Sans Mono","DejaVu Sans Mono",monospace;font-weight:400;color:rgba(0,0,0,.9)}
	.legacy ul,ol,dl{font-size:1em;line-height:1.6;margin-bottom:1.25em;list-style-position:outside;font-family:inherit}
	.legacy ul,ol{margin-left:1.5em}
	.legacy ul li ul,ul li ol{margin-left:1.25em;margin-bottom:0;font-size:1em}
	.legacy ul.square li ul,ul.circle li ul,ul.disc li ul{list-style:inherit}
	.legacy ul.square{list-style-type:square}
	.legacy ul.circle{list-style-type:circle}
	.legacy ul.disc{list-style-type:disc}
	.legacy ol li ul,ol li ol{margin-left:1.25em;margin-bottom:0}
	.legacy dl dt{margin-bottom:.3125em;font-weight:bold}
	.legacy dl dd{margin-bottom:1.25em}
	.legacy abbr,acronym{text-transform:uppercase;font-size:90%;color:rgba(0,0,0,.8);border-bottom:1px dotted #ddd;cursor:help}
	.legacy abbr{text-transform:none}
	.legacy blockquote{margin:0 0 1.25em;padding:.5625em 1.25em 0 1.1875em;border-left:1px solid #ddd}
	.legacy blockquote cite{display:block;font-size:.9375em;color:rgba(0,0,0,.6)}
	.legacy blockquote cite::before{content:"\2014 \0020"}
	.legacy blockquote cite a,blockquote cite a:visited{color:rgba(0,0,0,.6)}
	.legacy blockquote,blockquote p{line-height:1.6;color:rgba(0,0,0,.85)}
	.legacy @media screen and (min-width:768px){h1,h2,h3,#toctitle,.sidebarblock>.content>.title,h4,h5,h6{line-height:1.2}
	.legacy h1{font-size:2.75em}
	.legacy h2{font-size:2.3125em}
	.legacy h3,#toctitle,.sidebarblock>.content>.title{font-size:1.6875em}
	.legacy h4{font-size:1.4375em}}
	.legacy table{background:#fff;margin-bottom:1.25em;border:solid 1px #dedede}
	.legacy table thead,table tfoot{background:#f7f8f7}
	.legacy table thead tr th,table thead tr td,table tfoot tr th,table tfoot tr td{padding:.5em .625em .625em;font-size:inherit;color:rgba(0,0,0,.8);text-align:left}
	.legacy table tr th,table tr td{padding:.5625em .625em;font-size:inherit;color:rgba(0,0,0,.8)}
	.legacy table tr.even,table tr.alt{background:#f8f8f7}
	.legacy table thead tr th,table tfoot tr th,table tbody tr td,table tr td,table tfoot tr td{display:table-cell;line-height:1.6}
	.legacy h1,h2,h3,#toctitle,.sidebarblock>.content>.title,h4,h5,h6{line-height:1.2;word-spacing:-.05em}
	.legacy h1 strong,h2 strong,h3 strong,#toctitle strong,.sidebarblock>.content>.title strong,h4 strong,h5 strong,h6 strong{font-weight:400}
	.legacy .clearfix::before,.clearfix::after,.float-group::before,.float-group::after{content:" ";display:table}
	.legacy .clearfix::after,.float-group::after{clear:both}
	.legacy :not(pre):not([class^=L])>code{font-size:.9375em;font-style:normal!important;letter-spacing:0;padding:.1em .5ex;word-spacing:-.15em;background:#f7f7f8;-webkit-border-radius:4px;border-radius:4px;line-height:1.45;text-rendering:optimizeSpeed;word-wrap:break-word}
	.legacy :not(pre)>code.nobreak{word-wrap:normal}
	.legacy :not(pre)>code.nowrap{white-space:nowrap}
	.legacy pre{color:rgba(0,0,0,.9);font-family:"Droid Sans Mono","DejaVu Sans Mono",monospace;line-height:1.45;text-rendering:optimizeSpeed}
	.legacy pre code,pre pre{color:inherit;font-size:inherit;line-height:inherit}
	.legacy pre>code{display:block}
	.legacy pre.nowrap,pre.nowrap pre{white-space:pre;word-wrap:normal}
	.legacy em em{font-style:normal}
	.legacy strong strong{font-weight:400}
	.legacy .keyseq{color:rgba(51,51,51,.8)}
	.legacy kbd{font-family:"Droid Sans Mono","DejaVu Sans Mono",monospace;display:inline-block;color:rgba(0,0,0,.8);font-size:.65em;line-height:1.45;background:#f7f7f7;border:1px solid #ccc;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 0 rgba(0,0,0,.2),0 0 0 .1em white inset;box-shadow:0 1px 0 rgba(0,0,0,.2),0 0 0 .1em #fff inset;margin:0 .15em;padding:.2em .5em;vertical-align:middle;position:relative;top:-.1em;white-space:nowrap}
	.legacy .keyseq kbd:first-child{margin-left:0}
	.legacy .keyseq kbd:last-child{margin-right:0}
	.legacy .menuseq,.menuref{color:#000}
	.legacy .menuseq b:not(.caret),.menuref{font-weight:inherit}
	.legacy .menuseq{word-spacing:-.02em}
	.legacy .menuseq b.caret{font-size:1.25em;line-height:.8}
	.legacy .menuseq i.caret{font-weight:bold;text-align:center;width:.45em}
	.legacy b.button::before,b.button::after{position:relative;top:-1px;font-weight:400}
	.legacy b.button::before{content:"[";padding:0 3px 0 2px}
	.legacy b.button::after{content:"]";padding:0 2px 0 3px}
	.legacy p a>code:hover{color:rgba(0,0,0,.9)}
	.legacy #header,#content,#footnotes,#footer{width:100%;margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:0;max-width:62.5em;*zoom:1;position:relative;padding-left:.9375em;padding-right:.9375em}
	.legacy #header::before,#header::after,#content::before,#content::after,#footnotes::before,#footnotes::after,#footer::before,#footer::after{content:" ";display:table}
	.legacy #header::after,#content::after,#footnotes::after,#footer::after{clear:both}
	.legacy #content{margin-top:1.25em}
	.legacy #content::before{content:none}
	.legacy #header>h1:first-child{color:rgba(0,0,0,.85);margin-top:2.25rem;margin-bottom:0}
	.legacy #header>h1:first-child+#toc{margin-top:8px;border-top:1px solid #dddddf}
	.legacy #header>h1:only-child,body.toc2 #header>h1:nth-last-child(2){border-bottom:1px solid #dddddf;padding-bottom:8px}
	.legacy #header .details{border-bottom:1px solid #dddddf;line-height:1.45;padding-top:.25em;padding-bottom:.25em;padding-left:.25em;color:rgba(0,0,0,.6);display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-flow:row wrap;-webkit-flex-flow:row wrap;flex-flow:row wrap}
	.legacy #header .details span:first-child{margin-left:-.125em}
	.legacy #header .details span.email a{color:rgba(0,0,0,.85)}
	.legacy #header .details br{display:none}
	.legacy #header .details br+span::before{content:"\00a0\2013\00a0"}
	.legacy #header .details br+span.author::before{content:"\00a0\22c5\00a0";color:rgba(0,0,0,.85)}
	.legacy #header .details br+span#revremark::before{content:"\00a0|\00a0"}
	.legacy #header #revnumber{text-transform:capitalize}
	.legacy #header #revnumber::after{content:"\00a0"}
	.legacy #content>h1:first-child:not([class]){color:rgba(0,0,0,.85);border-bottom:1px solid #dddddf;padding-bottom:8px;margin-top:0;padding-top:1rem;margin-bottom:1.25rem}
	.legacy #toc{border-bottom:1px solid #e7e7e9;padding-bottom:.5em}
	.legacy #toc>ul{margin-left:.125em}
	.legacy #toc ul.sectlevel0>li>a{font-style:italic}
	.legacy #toc ul.sectlevel0 ul.sectlevel1{margin:.5em 0}
	.legacy #toc ul{font-family:"Open Sans","DejaVu Sans",sans-serif;list-style-type:none}
	.legacy #toc li{line-height:1.3334;margin-top:.3334em}
	.legacy #toc a{text-decoration:none}
	.legacy #toc a:active{text-decoration:underline}
	.legacy #toctitle{color:#7a2518;font-size:1.2em}
	.legacy @media screen and (min-width:768px){#toctitle{font-size:1.375em}
	.legacy body.toc2{padding-left:15em;padding-right:0}
	.legacy #toc.toc2{margin-top:0!important;background:#f8f8f7;position:fixed;width:15em;left:0;top:0;border-right:1px solid #e7e7e9;border-top-width:0!important;border-bottom-width:0!important;z-index:1000;padding:1.25em 1em;height:100%;overflow:auto}
	.legacy #toc.toc2 #toctitle{margin-top:0;margin-bottom:.8rem;font-size:1.2em}
	.legacy #toc.toc2>ul{font-size:.9em;margin-bottom:0}
	.legacy #toc.toc2 ul ul{margin-left:0;padding-left:1em}
	.legacy #toc.toc2 ul.sectlevel0 ul.sectlevel1{padding-left:0;margin-top:.5em;margin-bottom:.5em}
	.legacy body.toc2.toc-right{padding-left:0;padding-right:15em}
	.legacy body.toc2.toc-right #toc.toc2{border-right-width:0;border-left:1px solid #e7e7e9;left:auto;right:0}}
	.legacy @media screen and (min-width:1280px){body.toc2{padding-left:20em;padding-right:0}
	.legacy #toc.toc2{width:20em}
	.legacy #toc.toc2 #toctitle{font-size:1.375em}
	.legacy #toc.toc2>ul{font-size:.95em}
	.legacy #toc.toc2 ul ul{padding-left:1.25em}
	.legacy body.toc2.toc-right{padding-left:0;padding-right:20em}}
	.legacy #content #toc{border-style:solid;border-width:1px;border-color:#e0e0dc;margin-bottom:1.25em;padding:1.25em;background:#f8f8f7;-webkit-border-radius:4px;border-radius:4px}
	.legacy #content #toc>:first-child{margin-top:0}
	.legacy #content #toc>:last-child{margin-bottom:0}
	.legacy #footer{max-width:100%;background:rgba(0,0,0,.8);padding:1.25em}
	.legacy #footer-text{color:rgba(255,255,255,.8);line-height:1.44}
	.legacy #content{margin-bottom:.625em}
	.legacy .sect1{padding-bottom:.625em}
	.legacy @media screen and (min-width:768px){#content{margin-bottom:1.25em}
	.legacy .sect1{padding-bottom:1.25em}}
	.legacy .sect1:last-child{padding-bottom:0}
	.legacy .sect1+.sect1{border-top:1px solid #e7e7e9}
	.legacy #content h1>a.anchor,h2>a.anchor,h3>a.anchor,#toctitle>a.anchor,.sidebarblock>.content>.title>a.anchor,h4>a.anchor,h5>a.anchor,h6>a.anchor{position:absolute;z-index:1001;width:1.5ex;margin-left:-1.5ex;display:block;text-decoration:none!important;visibility:hidden;text-align:center;font-weight:400}
	.legacy #content h1>a.anchor::before,h2>a.anchor::before,h3>a.anchor::before,#toctitle>a.anchor::before,.sidebarblock>.content>.title>a.anchor::before,h4>a.anchor::before,h5>a.anchor::before,h6>a.anchor::before{content:"\00A7";font-size:.85em;display:block;padding-top:.1em}
	.legacy #content h1:hover>a.anchor,#content h1>a.anchor:hover,h2:hover>a.anchor,h2>a.anchor:hover,h3:hover>a.anchor,#toctitle:hover>a.anchor,.sidebarblock>.content>.title:hover>a.anchor,h3>a.anchor:hover,#toctitle>a.anchor:hover,.sidebarblock>.content>.title>a.anchor:hover,h4:hover>a.anchor,h4>a.anchor:hover,h5:hover>a.anchor,h5>a.anchor:hover,h6:hover>a.anchor,h6>a.anchor:hover{visibility:visible}
	.legacy #content h1>a.link,h2>a.link,h3>a.link,#toctitle>a.link,.sidebarblock>.content>.title>a.link,h4>a.link,h5>a.link,h6>a.link{color:#ba3925;text-decoration:none}
	.legacy #content h1>a.link:hover,h2>a.link:hover,h3>a.link:hover,#toctitle>a.link:hover,.sidebarblock>.content>.title>a.link:hover,h4>a.link:hover,h5>a.link:hover,h6>a.link:hover{color:#a53221}
	.legacy details,.audioblock,.imageblock,.literalblock,.listingblock,.stemblock,.videoblock{margin-bottom:1.25em}
	.legacy details>summary:first-of-type{cursor:pointer;display:list-item;outline:none;margin-bottom:.75em}
	.legacy .admonitionblock td.content>.title,.audioblock>.title,.exampleblock>.title,.imageblock>.title,.listingblock>.title,.literalblock>.title,.stemblock>.title,.openblock>.title,.paragraph>.title,.quoteblock>.title,table.tableblock>.title,.verseblock>.title,.videoblock>.title,.dlist>.title,.olist>.title,.ulist>.title,.qlist>.title,.hdlist>.title{text-rendering:optimizeLegibility;text-align:left;font-family:"Noto Serif","DejaVu Serif",serif;font-size:1rem;font-style:italic}
	.legacy table.tableblock.fit-content>caption.title{white-space:nowrap;width:0}
	.legacy .paragraph.lead>p,#preamble>.sectionbody>[class="paragraph"]:first-of-type p{font-size:1.21875em;line-height:1.6;color:rgba(0,0,0,.85)}
	.legacy table.tableblock #preamble>.sectionbody>[class="paragraph"]:first-of-type p{font-size:inherit}
	.legacy .admonitionblock>table{border-collapse:separate;border:0;background:none;width:100%}
	.legacy .admonitionblock>table td.icon{text-align:center;width:80px}
	.legacy .admonitionblock>table td.icon img{max-width:none}
	.legacy .admonitionblock>table td.icon .title{font-weight:bold;font-family:"Open Sans","DejaVu Sans",sans-serif;text-transform:uppercase}
	.legacy .admonitionblock>table td.content{padding-left:1.125em;padding-right:1.25em;border-left:1px solid #dddddf;color:rgba(0,0,0,.6)}
	.legacy .admonitionblock>table td.content>:last-child>:last-child{margin-bottom:0}
	.legacy .exampleblock>.content{border-style:solid;border-width:1px;border-color:#e6e6e6;margin-bottom:1.25em;padding:1.25em;background:#fff;-webkit-border-radius:4px;border-radius:4px}
	.legacy .exampleblock>.content>:first-child{margin-top:0}
	.legacy .exampleblock>.content>:last-child{margin-bottom:0}
	.legacy .sidebarblock{border-style:solid;border-width:1px;border-color:#dbdbd6;margin-bottom:1.25em;padding:1.25em;background:#f3f3f2;-webkit-border-radius:4px;border-radius:4px}
	.legacy .sidebarblock>:first-child{margin-top:0}
	.legacy .sidebarblock>:last-child{margin-bottom:0}
	.legacy .sidebarblock>.content>.title{color:#7a2518;margin-top:0;text-align:center}
	.legacy .exampleblock>.content>:last-child>:last-child,.exampleblock>.content .olist>ol>li:last-child>:last-child,.exampleblock>.content .ulist>ul>li:last-child>:last-child,.exampleblock>.content .qlist>ol>li:last-child>:last-child,.sidebarblock>.content>:last-child>:last-child,.sidebarblock>.content .olist>ol>li:last-child>:last-child,.sidebarblock>.content .ulist>ul>li:last-child>:last-child,.sidebarblock>.content .qlist>ol>li:last-child>:last-child{margin-bottom:0}
	.legacy .literalblock pre,.listingblock>.content>pre{-webkit-border-radius:4px;border-radius:4px;word-wrap:break-word;overflow-x:auto;padding:1em;}
	.legacy @media screen and (min-width:768px){.literalblock pre,.listingblock>.content>pre{font-size:.90625em}}
	.legacy @media screen and (min-width:1280px){.literalblock pre,.listingblock>.content>pre{font-size:1em}}
	.legacy .literalblock pre,.listingblock>.content>pre:not(.highlight),.listingblock>.content>pre[class="highlight"],.listingblock>.content>pre[class^="highlight "]{background:#f7f7f8}
	.legacy .literalblock.output pre{color:#f7f7f8;background:rgba(0,0,0,.9)}
	.legacy .listingblock>.content{position:relative}
	.legacy .listingblock code[data-lang]::before{display:none;content:attr(data-lang);position:absolute;font-size:.75em;top:.425rem;right:.5rem;line-height:1;text-transform:uppercase;color:inherit;opacity:.5}
	.legacy .listingblock:hover code[data-lang]::before{display:block}
	.legacy .listingblock.terminal pre .command::before{content:attr(data-prompt);padding-right:.5em;color:inherit;opacity:.5}
	.legacy .listingblock.terminal pre .command:not([data-prompt])::before{content:"$"}
	.legacy .listingblock pre.highlightjs{padding:0}
	.legacy .listingblock pre.highlightjs>code{padding:1em;-webkit-border-radius:4px;border-radius:4px}
	.legacy .listingblock pre.prettyprint{border-width:0}
	.legacy .prettyprint{background:#f7f7f8}
	.legacy pre.prettyprint .linenums{line-height:1.45;margin-left:2em}
	.legacy pre.prettyprint li{background:none;list-style-type:inherit;padding-left:0}
	.legacy pre.prettyprint li code[data-lang]::before{opacity:1}
	.legacy pre.prettyprint li:not(:first-child) code[data-lang]::before{display:none}
	.legacy table.linenotable{border-collapse:separate;border:0;margin-bottom:0;background:none}
	.legacy table.linenotable td[class]{color:inherit;vertical-align:top;padding:0;line-height:inherit;white-space:normal}
	.legacy table.linenotable td.code{padding-left:.75em}
	.legacy table.linenotable td.linenos{border-right:1px solid currentColor;opacity:.35;padding-right:.5em}
	.legacy pre.pygments .lineno{border-right:1px solid currentColor;opacity:.35;display:inline-block;margin-right:.75em}
	.legacy pre.pygments .lineno::before{content:"";margin-right:-.125em}
	.legacy .quoteblock{margin:0 1em 1.25em 1.5em;display:table}
	.legacy .quoteblock>.title{margin-left:-1.5em;margin-bottom:.75em}
	.legacy .quoteblock blockquote,.quoteblock p{color:rgba(0,0,0,.85);font-size:1.15rem;line-height:1.75;word-spacing:.1em;letter-spacing:0;font-style:italic;text-align:justify}
	.legacy .quoteblock blockquote{margin:0;padding:0;border:0}
	.legacy .quoteblock blockquote::before{content:"\201c";float:left;font-size:2.75em;font-weight:bold;line-height:.6em;margin-left:-.6em;color:#7a2518;text-shadow:0 1px 2px rgba(0,0,0,.1)}
	.legacy .quoteblock blockquote>.paragraph:last-child p{margin-bottom:0}
	.legacy .quoteblock .attribution{margin-top:.75em;margin-right:.5ex;text-align:right}
	.legacy .verseblock{margin:0 1em 1.25em}
	.legacy .verseblock pre{font-family:"Open Sans","DejaVu Sans",sans;font-size:1.15rem;color:rgba(0,0,0,.85);font-weight:300;text-rendering:optimizeLegibility}
	.legacy .verseblock pre strong{font-weight:400}
	.legacy .verseblock .attribution{margin-top:1.25rem;margin-left:.5ex}
	.legacy .quoteblock .attribution,.verseblock .attribution{font-size:.9375em;line-height:1.45;font-style:italic}
	.legacy .quoteblock .attribution br,.verseblock .attribution br{display:none}
	.legacy .quoteblock .attribution cite,.verseblock .attribution cite{display:block;letter-spacing:-.025em;color:rgba(0,0,0,.6)}
	.legacy .quoteblock.abstract blockquote::before,.quoteblock.excerpt blockquote::before,.quoteblock .quoteblock blockquote::before{display:none}
	.legacy .quoteblock.abstract blockquote,.quoteblock.abstract p,.quoteblock.excerpt blockquote,.quoteblock.excerpt p,.quoteblock .quoteblock blockquote,.quoteblock .quoteblock p{line-height:1.6;word-spacing:0}
	.legacy .quoteblock.abstract{margin:0 1em 1.25em;display:block}
	.legacy .quoteblock.abstract>.title{margin:0 0 .375em;font-size:1.15em;text-align:center}
	.legacy .quoteblock.excerpt,.quoteblock .quoteblock{margin:0 0 1.25em;padding:0 0 .25em 1em;border-left:.25em solid #dddddf}
	.legacy .quoteblock.excerpt blockquote,.quoteblock.excerpt p,.quoteblock .quoteblock blockquote,.quoteblock .quoteblock p{color:inherit;font-size:1.0625rem}
	.legacy .quoteblock.excerpt .attribution,.quoteblock .quoteblock .attribution{color:inherit;text-align:left;margin-right:0}
	.legacy table.tableblock{max-width:100%;border-collapse:separate}
	.legacy p.tableblock:last-child{margin-bottom:0}
	.legacy td.tableblock>.content>:last-child{margin-bottom:-1.25em}
	.legacy td.tableblock>.content>:last-child.sidebarblock{margin-bottom:0}
	.legacy table.tableblock,th.tableblock,td.tableblock{border:0 solid #dedede}
	.legacy table.grid-all>thead>tr>.tableblock,table.grid-all>tbody>tr>.tableblock{border-width:0 1px 1px 0}
	.legacy table.grid-all>tfoot>tr>.tableblock{border-width:1px 1px 0 0}
	.legacy table.grid-cols>*>tr>.tableblock{border-width:0 1px 0 0}
	.legacy table.grid-rows>thead>tr>.tableblock,table.grid-rows>tbody>tr>.tableblock{border-width:0 0 1px}
	.legacy table.grid-rows>tfoot>tr>.tableblock{border-width:1px 0 0}
	.legacy table.grid-all>*>tr>.tableblock:last-child,table.grid-cols>*>tr>.tableblock:last-child{border-right-width:0}
	.legacy table.grid-all>tbody>tr:last-child>.tableblock,table.grid-all>thead:last-child>tr>.tableblock,table.grid-rows>tbody>tr:last-child>.tableblock,table.grid-rows>thead:last-child>tr>.tableblock{border-bottom-width:0}
	.legacy table.frame-all{border-width:1px}
	.legacy table.frame-sides{border-width:0 1px}
	.legacy table.frame-topbot,table.frame-ends{border-width:1px 0}
	.legacy table.stripes-all tr,table.stripes-odd tr:nth-of-type(odd),table.stripes-even tr:nth-of-type(even),table.stripes-hover tr:hover{background:#f8f8f7}
	.legacy th.halign-left,td.halign-left{text-align:left}
	.legacy th.halign-right,td.halign-right{text-align:right}
	.legacy th.halign-center,td.halign-center{text-align:center}
	.legacy th.valign-top,td.valign-top{vertical-align:top}
	.legacy th.valign-bottom,td.valign-bottom{vertical-align:bottom}
	.legacy th.valign-middle,td.valign-middle{vertical-align:middle}
	.legacy table thead th,table tfoot th{font-weight:bold}
	.legacy tbody tr th{display:table-cell;line-height:1.6;background:#f7f8f7}
	.legacy tbody tr th,tbody tr th p,tfoot tr th,tfoot tr th p{color:rgba(0,0,0,.8);font-weight:bold}
	.legacy p.tableblock>code:only-child{background:none;padding:0}
	.legacy p.tableblock{font-size:1em}
	.legacy ol{margin-left:1.75em}
	.legacy ul li ol{margin-left:1.5em}
	.legacy dl dd{margin-left:1.125em}
	.legacy dl dd:last-child,dl dd:last-child>:last-child{margin-bottom:0}
	.legacy ol>li p,ul>li p,ul dd,ol dd,.olist .olist,.ulist .ulist,.ulist .olist,.olist .ulist{margin-bottom:.625em}
	.legacy ul.checklist,ul.none,ol.none,ul.no-bullet,ol.no-bullet,ol.unnumbered,ul.unstyled,ol.unstyled{list-style-type:none}
	.legacy ul.no-bullet,ol.no-bullet,ol.unnumbered{margin-left:.625em}
	.legacy ul.unstyled,ol.unstyled{margin-left:0}
	.legacy ul.checklist{margin-left:.625em}
	.legacy ul.checklist li>p:first-child>.fa-square-o:first-child,ul.checklist li>p:first-child>.fa-check-square-o:first-child{width:1.25em;font-size:.8em;position:relative;bottom:.125em}
	.legacy ul.checklist li>p:first-child>input[type="checkbox"]:first-child{margin-right:.25em}
	.legacy ul.inline{display:-ms-flexbox;display:-webkit-box;display:flex;-ms-flex-flow:row wrap;-webkit-flex-flow:row wrap;flex-flow:row wrap;list-style:none;margin:0 0 .625em -1.25em}
	.legacy ul.inline>li{margin-left:1.25em}
	.legacy .unstyled dl dt{font-weight:400;font-style:normal}
	.legacy ol.arabic{list-style-type:decimal}
	.legacy ol.decimal{list-style-type:decimal-leading-zero}
	.legacy ol.loweralpha{list-style-type:lower-alpha}
	.legacy ol.upperalpha{list-style-type:upper-alpha}
	.legacy ol.lowerroman{list-style-type:lower-roman}
	.legacy ol.upperroman{list-style-type:upper-roman}
	.legacy ol.lowergreek{list-style-type:lower-greek}
	.legacy .hdlist>table,.colist>table{border:0;background:none}
	.legacy .hdlist>table>tbody>tr,.colist>table>tbody>tr{background:none}
	.legacy td.hdlist1,td.hdlist2{vertical-align:top;padding:0 .625em}
	.legacy td.hdlist1{font-weight:bold;padding-bottom:1.25em}
	.legacy .literalblock+.colist,.listingblock+.colist{margin-top:-.5em}
	.legacy .colist td:not([class]):first-child{padding:.4em .75em 0;line-height:1;vertical-align:top}
	.legacy .colist td:not([class]):first-child img{max-width:none}
	.legacy .colist td:not([class]):last-child{padding:.25em 0}
	.legacy .thumb,.th{line-height:0;display:inline-block;border:solid 4px #fff;-webkit-box-shadow:0 0 0 1px #ddd;box-shadow:0 0 0 1px #ddd}
	.legacy .imageblock.left{margin:.25em .625em 1.25em 0}
	.legacy .imageblock.right{margin:.25em 0 1.25em .625em}
	.legacy .imageblock>.title{margin-bottom:0}
	.legacy .imageblock.thumb,.imageblock.th{border-width:6px}
	.legacy .imageblock.thumb>.title,.imageblock.th>.title{padding:0 .125em}
	.legacy .image.left,.image.right{margin-top:.25em;margin-bottom:.25em;display:inline-block;line-height:0}
	.legacy .image.left{margin-right:.625em}
	.legacy .image.right{margin-left:.625em}
	.legacy a.image{text-decoration:none;display:inline-block}
	.legacy a.image object{pointer-events:none}
	.legacy sup.footnote,sup.footnoteref{font-size:.875em;position:static;vertical-align:super}
	.legacy sup.footnote a,sup.footnoteref a{text-decoration:none}
	.legacy sup.footnote a:active,sup.footnoteref a:active{text-decoration:underline}
	.legacy #footnotes{padding-top:.75em;padding-bottom:.75em;margin-bottom:.625em}
	.legacy #footnotes hr{width:20%;min-width:6.25em;margin:-.25em 0 .75em;border-width:1px 0 0}
	.legacy #footnotes .footnote{padding:0 .375em 0 .225em;line-height:1.3334;font-size:.875em;margin-left:1.2em;margin-bottom:.2em}
	.legacy #footnotes .footnote a:first-of-type{font-weight:bold;text-decoration:none;margin-left:-1.05em}
	.legacy #footnotes .footnote:last-of-type{margin-bottom:0}
	.legacy #content #footnotes{margin-top:-.625em;margin-bottom:0;padding:.75em 0}
	.legacy .gist .file-data>table{border:0;background:#fff;width:100%;margin-bottom:0}
	.legacy .gist .file-data>table td.line-data{width:99%}
	.legacy div.unbreakable{page-break-inside:avoid}
	.legacy .big{font-size:larger}
	.legacy .small{font-size:smaller}
	.legacy .underline{text-decoration:underline}
	.legacy .overline{text-decoration:overline}
	.legacy .line-through{text-decoration:line-through}
	.legacy .aqua{color:#00bfbf}
	.legacy .aqua-background{background:#00fafa}
	.legacy .black{color:#000}
	.legacy .black-background{background:#000}
	.legacy .blue{color:#0000bf}
	.legacy .blue-background{background:#0000fa}
	.legacy .fuchsia{color:#bf00bf}
	.legacy .fuchsia-background{background:#fa00fa}
	.legacy .gray{color:#606060}
	.legacy .gray-background{background:#7d7d7d}
	.legacy .green{color:#006000}
	.legacy .green-background{background:#007d00}
	.legacy .lime{color:#00bf00}
	.legacy .lime-background{background:#00fa00}
	.legacy .maroon{color:#600000}
	.legacy .maroon-background{background:#7d0000}
	.legacy .navy{color:#000060}
	.legacy .navy-background{background:#00007d}
	.legacy .olive{color:#606000}
	.legacy .olive-background{background:#7d7d00}
	.legacy .purple{color:#600060}
	.legacy .purple-background{background:#7d007d}
	.legacy .red{color:#bf0000}
	.legacy .red-background{background:#fa0000}
	.legacy .silver{color:#909090}
	.legacy .silver-background{background:#bcbcbc}
	.legacy .teal{color:#006060}
	.legacy .teal-background{background:#007d7d}
	.legacy .inner .white{color:#bfbfbf}
	.legacy .inner .white-background{background:#fafafa}
	.legacy .yellow{color:#bfbf00}
	.legacy .yellow-background{background:#fafa00}
	.legacy span.icon>.fa{cursor:default}
	.legacy a span.icon>.fa{cursor:inherit}
	.legacy .admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
	.legacy .admonitionblock td.icon .icon-note::before{content:"\f05a";color:#19407c}
	.legacy .admonitionblock td.icon .icon-tip::before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
	.legacy .admonitionblock td.icon .icon-warning::before{content:"\f071";color:#bf6900}
	.legacy .admonitionblock td.icon .icon-caution::before{content:"\f06d";color:#bf3400}
	.legacy .admonitionblock td.icon .icon-important::before{content:"\f06a";color:#bf0000}
	.legacy .conum[data-value]{display:inline-block;color:#fff!important;background:rgba(0,0,0,.8);-webkit-border-radius:100px;border-radius:100px;text-align:center;font-size:.75em;width:1.67em;height:1.67em;line-height:1.67em;font-family:"Open Sans","DejaVu Sans",sans-serif;font-style:normal;font-weight:bold}
	.legacy .conum[data-value] *{color:#fff!important}
	.legacy .conum[data-value]+b{display:none}
	.legacy .conum[data-value]::after{content:attr(data-value)}
	.legacy pre .conum[data-value]{position:relative;top:-.125em}
	.legacy b.conum *{color:inherit!important}
	.legacy .conum:not([data-value]):empty{display:none}
	.legacy dt,th.tableblock,td.content,div.footnote{text-rendering:optimizeLegibility}
	.legacy h1,h2,p,td.content,span.alt{letter-spacing:-.01em}
	.legacy p strong,td.content strong,div.footnote strong{letter-spacing:-.005em}
	.legacy p,blockquote,dt,td.content,span.alt{font-size:1.0625rem}
	.legacy p{margin-bottom:1.25rem}
	.legacy .sidebarblock p,.sidebarblock dt,.sidebarblock td.content,p.tableblock{font-size:1em}
	.legacy .exampleblock>.content{background:#fffef7;border-color:#e0e0dc;-webkit-box-shadow:0 1px 4px #e0e0dc;box-shadow:0 1px 4px #e0e0dc}
	.legacy .print-only{display:none!important}
	.legacy @page{margin:1.25cm .75cm}
	.legacy @media print{*{-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important}
	.legacy html{font-size:80%}
	.legacy a{color:inherit!important;text-decoration:underline!important}
	.legacy a.bare,a[href^="#"],a[href^="mailto:"]{text-decoration:none!important}
	.legacy a[href^="http:"]:not(.bare)::after,a[href^="https:"]:not(.bare)::after{content:"(" attr(href) ")";display:inline-block;font-size:.875em;padding-left:.25em}
	.legacy abbr[title]::after{content:" (" attr(title) ")"}
	.legacy pre,blockquote,tr,img,object,svg{page-break-inside:avoid}
	.legacy thead{display:table-header-group}
	.legacy svg{max-width:100%}
	.legacy p,blockquote,dt,td.content{font-size:1em;orphans:3;widows:3}
	.legacy h2,h3,#toctitle,.sidebarblock>.content>.title{page-break-after:avoid}
	.legacy #toc,.sidebarblock,.exampleblock>.content{background:none!important}
	.legacy #toc{border-bottom:1px solid #dddddf!important;padding-bottom:0!important}
	.legacy body.book #header{text-align:center}
	.legacy body.book #header>h1:first-child{border:0!important;margin:2.5em 0 1em}
	.legacy body.book #header .details{border:0!important;display:block;padding:0!important}
	.legacy body.book #header .details span:first-child{margin-left:0!important}
	.legacy body.book #header .details br{display:block}
	.legacy body.book #header .details br+span::before{content:none!important}
	.legacy body.book #toc{border:0!important;text-align:left!important;padding:0!important;margin:0!important}
	.legacy body.book #toc,body.book #preamble,body.book h1.sect0,body.book .sect1>h2{page-break-before:always}
	.legacy .listingblock code[data-lang]::before{display:block}
	.legacy #footer{padding:0 .9375em}
	.legacy .hide-on-print{display:none!important}
	.legacy .print-only{display:block!important}
	.legacy .hide-for-print{display:none!important}
	.legacy .show-for-print{display:inherit!important}}
	.legacy .sect1{padding:0!important}
	.legacy .sect1+.sect1{border:0}
