<!DOCTYPE html>
<html lang="en">
  <head>
{{> head-first}}
    <title>{{{detag (or page.title 'Untitled')}}}{{#with site.title}} | {{this}}{{/with}}</title>
    {{#with (canonical-url)}}
    <link rel="canonical" href="{{this}}">
    {{/with}}
{{> head-last}}
  </head>
  <body class="article">
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>
