<!DOCTYPE html>
<html lang="en">
    <head>
        {{> head-first}}
        <title>{{{detag (or page.title 'Untitled')}}}{{#with site.title}} | {{this}}{{/with}}</title>
        {{#with (canonical-url)}}
        <link rel="canonical" href="{{this}}">
        {{/with}}
        {{> head-last}}
    </head>
    <body class="docs-wrapper article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
        <div class="container mx-auto relative">
            {{> docs-header}}
            <div class="hero hero--home grad">
                <div class="eye"></div>
                <div id="docs-content" class="text-center flex flex-center flex-column relative z2 ma-xlarge">
                    <h2>Cassandra Documentation</h2>
                </div>
            </div>
            {{> body}}
            {{> footer}}
        </div>
    </body>
</html>
