<!DOCTYPE html>
<html lang="en">
  <head>
{{> head-first}}
    <title>Apache Cassandra{{#with site.title}} | {{this}}{{/with}}</title>
    {{#with (canonical-url)}}
    <link rel="canonical" href="{{this}}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&amp;family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;1,400;1,500&amp;display=swap" rel="stylesheet">
    {{/with}}
{{> head-last}}
  </head>
  <body class="homepage  {{ page.layout }}">
      <div class="container mx-auto relative">
        {{> header }}
        <div class="main-content">
            {{{ page.contents }}}
        </div>
        {{> footer}}
      </div>
  </body>
 <script>
jQuery(function(){
    var quotes = $('.home-quotes').find('.home-quote').length;
    var arr = [];
    function shuffle(array) {
        array.sort(() => Math.random() - 0.5);
    }
    var i = 0;
    for(i; i < quotes; i++){
        arr.push(i);
    }
    shuffle(arr);
    $('.home-quote').eq(arr[0]).removeClass('hidden');
});
</script>
</html>
