<div class="body px-medium py-medium container{{#with (or page.role page.attributes.role)}} {{{this}}}{{/with}}">
    <div class="docs-nav-bar flex flex-space-between mb-medium">
      <div id="mobile-docs-nav-burger" class="hidden">
        <svg viewBox="0 0 24 24" width="36" height="36" stroke="#1c81a0" stroke-width="2.5" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      </div>
      {{#if env.DOCSEARCH_ENABLED}}
        <div class="docs-nav-item relative">
          <input id="search-input" type="text" placeholder="Search docs">
        </div>
      {{/if}}
      {{> nav-explore}}
    </div>
    <div class="cf relative">
        {{> docs-nav}}
        {{> toc}}
        {{> main}}
    </div>
</div>
