  <div class="banner">
    <div class="container banner-content">
      <div>
        <h1 style="text-align:center">What is Apache Cassandra</h1>
        <h2 style="text-align:center">The Apache Cassandra database is the right choice when you need scalability and high availability without compromising performance.</h2>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="home" data-ceiling="topbar">
    <div class="tutorials">
      <article class="doc">
{{{page.contents}}}
      </article>
    </div>
  </div>
