
<header id="top-nav">
    <div class="inner relative">
        <div class="logo"><a href="{{{ site.url }}}"><img src="{{{uiRootPath}}}/img/logo-white.svg" alt=""></a></div>
        <div class="mobile-nav-icon right">
            <img class="toggle-icon" src="{{{uiRootPath}}}/img/hamburger-nav.svg">
        </div>
        {{> header-nav}}
    </div>
</header>

