{{#if (or page.attributes.edition page.attributes.status)}}
<div class="labels">
  <ul>
    {{#with page.attributes.edition}}
    <li class="edition"><a href="https://cassandra.apache.org/download/">{{{this}}}</a></li>
    {{/with}}
    {{#with page.attributes.status}}
    <li class="status"><span>{{{this}}}</span></li>
    {{/with}}
  </ul>
</div>
{{/if}}
