{{#with (or (and (not env.CI) page.fileUri) (and (not page.origin.private) page.editUrl))}}
<div class="tools" role="navigation">
  <ul>
    <li class="tool edit"><a href="{{this}}" title="Edit Page" target="_blank" rel="noopener">Edit</a></li>
  </ul>
</div>
{{/with}}
