/* NOTE min-width of flex: 1 container = content-width to prevent wrapping by default; min-width: 0 lets content wrap */
div.body {
  background-color: #fff;
  word-wrap: break-word; /* IE only supports word-wrap, which is an alias of overflow-wrap */
}

main {
  flex: 1;
  min-width: 0;
}

@media screen and (min-width: 1200px) {
  aside.toc.embedded {
    display: none;
  }

  aside.toc.sidebar {
    display: block;
  }
}
