/**
Steps to change the highlight.js theme:

1. View available themes on https://highlightjs.org/static/demo/
2. Find CSS file for the theme to use https://github.com/highlightjs/highlight.js/tree/master/src/styles
3. Copy the theme's CSS rules here (exclude rules for the `.hljs` selector otherwise it will conflict with other site styles)
4. Replace the `bold` keywoard with `var(--weight-medium)` (because the monospace font we're using has multiple weights and we don't want to use the really strong one).

Other CSS rules for styling code blocks:

- In doc.css, the `.doc pre:not(.highlight), .doc pre.highlight code` selector sets the code block `color` and `background-color`
- In docs.css, the `.doc .listingblock code[data-lang]::before` selector sets the language label `color`
*/
.hljs-comment,
.hljs-meta {
  color: #708090;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #66d9ef;
  font-weight: var(--weight-medium);
}

.hljs-subst {
  color: #66d9ef;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-tag .hljs-attr {
  color: #ae81ff;
}

.hljs-string,
.hljs-doctag {
  color: #5e870c;
}

.hljs-tag,
.hljs-attribute {
  color: #f92672;
}

.hljs-built_in,
.hljs-function .hljs-title {
  color: #bbb04b;
}

.hljs-regexp {
  color: #fd971f;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--weight-medium);
}
