<div id="download" class="span-7 push-1 last rc">
  <h2>Download</h2>
  <div class="inner rc">
      <br/>
      <p>
          <a href="http://www.planetcassandra.org/blog/cassandra-2-2-3-0-and-beyond/">Tick-Tock</a> release <b>{{ cassandra_ticktock }}</b> (<a href="{{ ticktockchangelog }}">Changes</a>)
      </p>
  {% if is_stable_prod_ready %}
    <p>
       3.0.x release <b>{{ cassandra_stable }}</b> (<a href="{{ changelog }}">Changes</a>)
    </p>
  {% else %}
    <p>
       3.0.x release <b>{{ cassandra_stable }}</b> (<a href="{{ changelog }}">Changes</a>)
    </p>
    <p>
       2.2.x release <b>{{ cassandra_oldstable }}</b> (<a href="{{ oldchangelog }}">Changes</a>)
    </p>
  {% endif %}

    <p><a class="filename" href="download/">Download options</a></p>
  </div>
</div>
