<div id="download" class="span-7 push-1 last rc">
  <h2>Download</h2>
  <div class="inner rc">
    <p>
    The latest release is <b>{{ cassandra_stable }}</b>
    <span class="relnotes">(<a href="{{ changelog }}">Changes</a>)</span>
    </p>

    <p>
    <a class="filename" 
       href="{{ binary_download }}"
       onclick="javascript: pageTracker._trackPageview('/clicks/binary_download');">
      {{ binary_filename }}
    </a>
    </p>

    <p><a href="/download/">Other download options</a></p>
  </div>
</div>
