<div id="download" class="span-7 push-1 last rc">
  <h2>Download</h2>
  <div class="inner rc">
    
  {% if is_stable_prod_ready %}
    <p>
      Latest stable release <b>{{ cassandra_stable }}</b> (<a href="{{ changelog }}">Changes</a>)
    </p>
  {% else %}
    <p>
      Latest release <b>{{ cassandra_stable }}</b> (<a href="{{ changelog }}">Changes</a>)
    </p>
    <p>
      Stable release <b>{{ cassandra_oldstable }}</b> (<a href="{{ oldchangelog }}">Changes</a>)
    </p>
  {% endif %}


    <p><a class="filename" href="download/">Download options</a></p>
  </div>
</div>
