/* Jumbotron part. */
.jumbotron {
  background: none;
  max-width: 748px;
  margin: 30px auto 40px auto;
  padding: 0px;

  h1 {
    font-size: 40px;
    font-family: HelveticaNeue-Light,Helvetica,Arial,sans-serif;
    line-height: 1.2;
    color: $white;
    text-align: center;
    padding: 0;
    margin-bottom: 28px;
  }

  .lead {
    line-height: 1.25;
    color: white;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.8px;
    margin-bottom: 48px;
  }

  p {
    text-align: center;
    margin-bottom: 0px;
  }

  .btn.download {
    border-radius: 8px;
    font-size: 16px;
    padding: 11px 28px;
    margin-bottom: 4px;
    color: $dark-green;

    &:hover, &:focus { color: $yellow; }
  }

  a.changelog {
    font-size: 15px;
    display: inline-block;
    color: $dark-green;

    &:hover, &:focus {
      color: $yellow;
      text-decoration: none;
    }
  }
}

/* Features list. */
.feature-list-group {

  padding-top: 20px;
  padding-bottom: 61px;

  .header {
    text-align: center;

    h3 {
      font-size: 30px;
      font-weight: 200;
      text-align: center;
      margin-bottom: 26px;
    }

    .lead {
      color: #777777;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.42857143;
      margin-bottom: 55px;
    }
  }

  .feature-list {
    margin-bottom: 25px;
  }

  .feature-item h4 {
    color: $green;
    font-family: HelveticaNeue-Medium,Helvetica,Arial,sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .feature-item p {
    font-family: HelveticaNeue-Light,Helvetica,Arial,sans-serif;
    font-size: 15px;
  }
}


@media (max-width: 767px) {

  .jumbotron > .lead {
    font-weight: 200;
  }

  .feature-list-group {
    padding: 36px 9px 6px 9px;
  }

  .feature-list {
    margin-bottom: 0px;
  }

  .feature-item {
    margin-bottom: 48px;
  }
}
