---
---

/*
 * Main website stylesheet
 */

@import 'colors';
@import 'site-header';
@import 'site-landing';
@import 'site-footer';
@import 'code';


img {
  max-width:100%;
}

body {
  background-color: #fff;
}

.doc-content {
  margin-top: 40px;
}

#wipwarning {
  font-size: 14px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  padding: 10px 30px;
  margin: 30px 20px;
}


// For the documentation landing page

.biglink {
  font-size: 120%;
}

.linkdescr {
  font-size: 90%;
}

.doc-landing-table {
  margin: 10px 30px 20px 30px;
  width: 90%;

  td {
    padding-top: 10px;
  }

  .right-column {
    padding-left: 100px;
  }
}

.doc-landing-metainfos {
  margin: 10px 30px 0px 30px;

  p {
    margin-bottom: 10px;
  }
}

ul.blog-post-listing {
  list-style: none;
  padding-left: 0;
}

li.blog-post {
  padding-bottom: 20px;
}


//RSS

.subscribe-rss {
  font-size: 2em;
  line-height: 2em;
  vertical-align: .1em;
}